@import url('https://use.typekit.net/xtr2ajt.css');
@import 'tailwindcss';

@source '../*.{js,ts,jsx,tsx,mdx}';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@utility bg-grid-pattern {
  background-color: var(--muted);
  background-image:
    linear-gradient(to right, var(--border) 1px, transparent 1px),
    linear-gradient(to bottom, var(--border) 1px, transparent 1px);
  background-size: 20px 20px;
}

:root {
  --font-sans: 'inconsolata', monospace;
  --font-serif: 'ff-meta-serif-web-pro', serif;
  --font-mono: 'inconsolata', monospace;

  --background: oklch(0.9798 0.0045 78.2983);
  --foreground: oklch(0.1504 0.0095 86.0541);
  --card: oklch(0.9910 0.0041 91.4454);
  --card-foreground: oklch(0.1504 0.0095 86.0541);
  --popover: oklch(0.9910 0.0041 91.4454);
  --popover-foreground: oklch(0.1504 0.0095 86.0541);
  --primary: oklch(0.1801 0.0150 81.3705);
  --primary-foreground: oklch(0.9798 0.0045 78.2983);
  --secondary: oklch(0.9407 0.0086 84.5734);
  --secondary-foreground: oklch(0.2495 0.0157 84.5097);
  --muted: oklch(0.9407 0.0086 84.5734);
  --muted-foreground: oklch(0.4501 0.0118 87.5327);
  --accent: oklch(0.9101 0.0100 87.4746);
  --accent-foreground: oklch(0.1801 0.0150 81.3705);
  --destructive: oklch(0.5505 0.1800 25.0223);
  --destructive-foreground: oklch(0.9798 0.0045 78.2983);
  --border: oklch(0.8796 0.0101 87.4768);
  --input: oklch(0.8796 0.0101 87.4768);
  --ring: oklch(0.3500 0.0196 86.4530);
  --chart-1: oklch(0.4499 0.0798 84.1579);
  --chart-2: oklch(0.3798 0.0595 120.2827);
  --chart-3: oklch(0.4206 0.0704 44.3694);
  --chart-4: oklch(0.3493 0.0498 201.1523);
  --chart-5: oklch(0.4804 0.0897 65.1386);
  --sidebar: oklch(0.9706 0.0057 84.5662);
  --sidebar-foreground: oklch(0.1504 0.0095 86.0541);
  --sidebar-primary: oklch(0.1801 0.0150 81.3705);
  --sidebar-primary-foreground: oklch(0.9798 0.0045 78.2983);
  --sidebar-accent: oklch(0.9407 0.0086 84.5734);
  --sidebar-accent-foreground: oklch(0.2495 0.0157 84.5097);
  --sidebar-border: oklch(0.8796 0.0101 87.4768);
  --sidebar-ring: oklch(0.3500 0.0196 86.4530);
  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 3px 0px hsl(28 18% 25% / 0.09);
  --shadow-xs: 0px 2px 3px 0px hsl(28 18% 25% / 0.09);
  --shadow-sm: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 1px 2px -1px hsl(28 18% 25% / 0.18);
  --shadow: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 1px 2px -1px hsl(28 18% 25% / 0.18);
  --shadow-md: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 2px 4px -1px hsl(28 18% 25% / 0.18);
  --shadow-lg: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 4px 6px -1px hsl(28 18% 25% / 0.18);
  --shadow-xl: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 8px 10px -1px hsl(28 18% 25% / 0.18);
  --shadow-2xl: 0px 2px 3px 0px hsl(28 18% 25% / 0.45);
}

.dark {
  --background: oklch(0.1219 0.0106 95.0650);
  --foreground: oklch(0.9498 0.0046 78.2977);
  --card: oklch(0.1609 0.0115 80.9823);
  --card-foreground: oklch(0.9498 0.0046 78.2977);
  --popover: oklch(0.1801 0.0150 81.3705);
  --popover-foreground: oklch(0.9498 0.0046 78.2977);
  --primary: oklch(0.8801 0.0076 80.7197);
  --primary-foreground: oklch(0.1504 0.0095 86.0541);
  --secondary: oklch(0.2194 0.0177 86.7900);
  --secondary-foreground: oklch(0.9193 0.0058 84.5672);
  --muted: oklch(0.2194 0.0177 86.7900);
  --muted-foreground: oklch(0.6502 0.0077 88.6692);
  --accent: oklch(0.2790 0.0190 84.4799);
  --accent-foreground: oklch(0.9498 0.0046 78.2977);
  --destructive: oklch(0.6501 0.2008 24.9745);
  --destructive-foreground: oklch(0.9498 0.0046 78.2977);
  --border: oklch(0.5494 0.0099 84.5873);
  --input: oklch(0.9498 0.0046 78.2977);
  --ring: oklch(0.5494 0.0099 84.5873);
  --chart-1: oklch(0.6495 0.1197 84.3080);
  --chart-2: oklch(0.5805 0.1002 119.9073);
  --chart-3: oklch(0.6191 0.1096 44.6789);
  --chart-4: oklch(0.5497 0.0901 199.8126);
  --chart-5: oklch(0.6814 0.1302 65.0777);
  --sidebar: oklch(0.1609 0.0115 80.9823);
  --sidebar-foreground: oklch(0.9498 0.0046 78.2977);
  --sidebar-primary: oklch(0.6495 0.1197 84.3080);
  --sidebar-primary-foreground: oklch(0.1219 0.0106 95.0650);
  --sidebar-accent: oklch(0.2194 0.0177 86.7900);
  --sidebar-accent-foreground: oklch(0.9193 0.0058 84.5672);
  --sidebar-border: oklch(0.9498 0.0046 78.2977);
  --sidebar-ring: oklch(0.4505 0.0152 86.8842);
  --radius: 0.3rem;
  --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 5% / 0.09);
  --shadow-xs: 0px 2px 3px 0px hsl(0 0% 5% / 0.09);
  --shadow-sm: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 1px 2px -1px hsl(0 0% 5% / 0.18);
  --shadow: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 1px 2px -1px hsl(0 0% 5% / 0.18);
  --shadow-md: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 2px 4px -1px hsl(0 0% 5% / 0.18);
  --shadow-lg: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 4px 6px -1px hsl(0 0% 5% / 0.18);
  --shadow-xl: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 8px 10px -1px hsl(0 0% 5% / 0.18);
  --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 5% / 0.45);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
